# Python bytecode
__pycache__/
*.py[cod]

huggingface_cache/

# Environments
venv/
env/
.conda/
requirement.yml
# Audio Temp files from your main.py
audio.*
.vscode/


.env
asrtry1.ipynb
asrtry2.ipynb
asrtry3.ipynb
Dataset/

# training/
# *.wav
readme.txt
temp/
models/

main.py

dysar_venv/