--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision



numpy
scipy
scikit-learn
pandas
matplotlib
networkx
streamlit

librosa
jupyterlab
jupyter

openai-whisper

tqdm 
pillow

langchain
langchain-huggingface
langchain-experimental
langchain-text-splitters
langchain-community
langchain_groq
langchain_ollama

transformers
accelerate
safetensors
tokenizers
tiktoken
sentence-transformers
huggingface_hub

fastapi
starlette
pydantic
pydantic-settings
uvicorn
python-multipart

python-dotenv



jiwer 
sentence-transformers

datasets